* {
    box-sizing: border-box;
    font-family: cursive;
}

body {
    margin: 0;
    width: 100%;
}

header {
    padding: 0px;
    background-color: #333;
    height: 55px;
}

p { all: unset;}

.topnav {
    overflow: hidden;
    background-color: #333;
    padding-left: 10px;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.topnav a:hover {color: palevioletred;}
  
.topnav-right {padding-right: 20px; float: right;}

.active{background-color: rgb(72, 70, 70);}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: 700px;
    background-image: url(kepek/goldihatter1.jpg);
    background-size: cover;  
    width: 40%;
    margin: 0px;
}

.flex-item:nth-child(3) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background-color: white; 
    margin: 0px; 
    text-align: center;
}

article{
    background-image: url(kepek/goldihatter1.jpg);
    background-size: cover;  
    width: max-content;
    width: 100%;
    height: 500px;
    margin: 0px;
}

aside{
    text-align: center;
    height: 500px;
    padding: 30px;
    text-align: center;
    background-color: rgb(228, 184, 8);
}

aside a{
    text-decoration: none;
    color: black; 
    text-align: center;
}

aside a:hover{
    color: rgb(192, 33, 102);
}

p{all: unset;}


@media all and (min-width:800px){}

@media all and (min-width:600px){}

footer {
    height: 30px;
    text-align: center;
    background: #ddd;
    color: black;
}
